<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    header, main, footer {display: none;}
</style>

<body>
    <header>cabeçalho

        <nav>navegaçao</nav>

    </header>

    <main>conteudo principal 

        <article>Um artigo, post</article>
        
        <aside>um elemento que fica do lado , que não tem ligação com o artigo</aside>

        <section>
            <div>partes da section</div>
            <div>outra parte da section</div>
        </section>

    </main>

    <footer>rodape</footer>
</body>
</html>

<!-- OUTRAS TAGS -->

<form action="para onde vai a resposta do formulario">
    <label for="name">Nome</label>
    <input type="text" id="name" placeholder="Digite o seu nome"/>

    <button type="submit">Enviar</button>
</form>

<table style="margin-top: 30px;">
    <caption>legenda da tabela</caption>

    <colgroup></colgroup>
    <thead>
        <tr>
            <th>cabeçalho 1</th>
            <th>cabeçalho 2</th>
            <th>cabeçalho 3</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>cabeçalho 4</th>
            <td>informacao 2</td>
            <td>informacao 3</td>
        </tr>
        <tr>
            <th>cabeçalho 5</th>
            <td>informacao 2</td>
            <td>informacao 3</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>rodape 1</td>
            <td>rodape 2</td>
            <td>rodape 3</td>
        </tr>
    </tfoot>
</table>