{% extends "homepage.html" %}

{% block titulo %}
        Criar Conta - Ponterest
        {% endblock %}

{% block formulario %}
<form method="POST">
    {{ form.csrf_token }}

        {{ form.email.label() }}
        {% if form.email.errors %}
                {% for erro in form.email.errors %}
                        <p style="color: red">{{ erro }}</p>
                {% endfor %}
        {% endif %}
        {{ form.email() }}

        {{ form.username.label() }}
        {% if form.username.errors %}
                {% for erro in form.username.errors %}
                        <p style="color: red">{{ erro }}</p>
                {% endfor %}
        {% endif %}
        {{ form.username() }}
        
        {{ form.senha.label() }}
        {% if form.senha.errors %}
                {% for erro in form.senha.errors %}
                        <p style="color: red">{{ erro }}</p>
                {% endfor %}
        {% endif %}
        {{ form.senha() }}

        {{ form.confirmacao_senha.label() }}
        {% if form.confirmacao_senha.errors %}
                {% for erro in form.confirmacao_senha.errors %}
                        <p style="color: red">{{ erro }}</p>
                {% endfor %}
        {% endif %}
        {{ form.confirmacao_senha() }}

        {{ form.botao_confirmacao() }}
</form>
<a href=" {{ url_for('homepage')}}">Já tem uma conta? Faça login</a>

{% endblock %}

