<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/config.css") }}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body onload="init();">
    {% include 'header.html' %}

    <main>
        
        <form action="#" method="get" class="mudar_foto" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.foto() }}
            {{ form.botao_confirmacao() }}
            
        </form>
        {{ request.form}}
    </main>
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>