<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        
        <form action="#" method="post" class="mudar_foto" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.foto() }}
            {{ form.botao_confirmacao() }}
        </form>
        {{ request.form}}
    </main>

</body>
</html>