{% extends "feed.html" %}

{% block main %}

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div>
        {{ form.foto() }}
    </div>

    <div>
    
        {{ form.titulo.label()}}
        {{  form.titulo() }}

        {{ form.descricao.label()}}
        {{  form.descricao() }}


    </div>
    


    {{ form.botao_confirmacao() }}

</form>

<iframe src="{{ url_for('tag_manager')}}" style="width:50vw"></iframe>


<p>{{ tag_usuario.tags }}</p>

{% endblock %}