<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/criarfoto.css") }}'>
</head>
    <body>
        {% include 'header.html' %}

        <main>
            <div class="container_criarfoto">

                <div class="escolher_pasta"></div>
            
                <form class="form_criarfoto" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    {{ form.foto(class="form_arquivo") }}

                    <div class="preencher">
                        

                        {{  form.titulo(class="box_titulo box", placeholder="Adicione um título") }}

                        <hr>

                        {{ current_user.username }}

                        {{  form.descricao(class="box_descricao box", placeholder="Adicione uma descrição") }}
                        <hr>
                        
                        <iframe class="tags_iframe" src="{{ url_for('tag_manager')}}" ></iframe>
                        {{ form.botao_confirmacao(class="botao_criarfoto") }}
                    </div>
            
                </form>

                

                <p>{{ tag_usuario.tags }}</p>
            
            </div>
        </main>
        
    </body>
</html>
