<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ponterest - Feed</title>
        {% block link %}
            <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/feed.css") }}'>
        {% endblock %}
    </head>

    <body>
        
        <div class="container">

            {% include'header.html' %}
            
            
            {% block main %}<main class="feed">

                <div class="fotos_container">

                    {% for foto in fotos %}
                    <div class="box">
                        <a href="{{ url_for('post', id_foto=foto.id) }}">
                            <img class="foto" src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                
            </main>{% endblock %}
            
        </div>


        <script>
            let search_bar = document.querySelector(".search_bar")
            let pagina = document.querySelector("body")
            
            pagina.onclick = function(e){
                if (!search_bar.contains(e.target)) {
                    if (search_bar.value !="") {
                    search_bar.value = ""
                    }
                }
            }

        </script>

    </body>

    
    
</html>








