<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ponterest - Feed</title>
        {% block link %}
            <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/feed.css") }}'>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
    </head>

    <body>
        
        <div class="container">

            {% include'header.html' %}
            
            {% block main %}<main class="feed">
                <div class="fotos_container">

                    {% for foto in fotos %}
                    <div class="box">
                        <div class="foto_box">
                            <div class="pasta_bar">
                                <button class="botao_escolher_pasta" value="Meus pins">Meus pins</button>
                                <i class="fa-sharp fa-solid fa-angle-down fa-1x seta"></i>
                                <button class="botao_salvar" value="Salvar">Salvar</button>
                            </div>
                            <a href="{{ url_for('post', id_foto=foto.id) }}">
                                <img class="foto" src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
                            </a>
                        </div>
                        <div class="usuario">usuario</div>
                    </div>
                    {% endfor %}
                </div>
                
            </main>{% endblock %}
            
        </div>

        {% block script %}
        <script>
            let search_bar = document.querySelector(".search_bar")
            let pagina = document.querySelector("body")
            
            pagina.onclick = function(e){
                if (!search_bar.contains(e.target)) {
                    if (search_bar.value !="") {
                    search_bar.value = ""
                    }
                }
            }

        </script>
        {% endblock %}

    </body>

    
    
</html>








