<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ponterest - Feed</title>
        {% block link %}
            <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/feed.css") }}'>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
    </head>

    <body>
        
        <div class="container">
        
                {% include'header.html' %}
                
            <main class="feed">

                {% include 'fotos_container.html' %}
                
                
            </main>
            
        </div>

        <script>
            let search_bar = document.querySelector(".search_bar")
            let pagina = document.querySelector(".container")
            let menu_header = document.querySelector(".dropdown_menu");
            let seta_header = document.querySelector(".seta_header");
            
            pagina.onclick = function(e){
                if (!search_bar.contains(e.target)) {
                    if (search_bar.value !="") {
                    search_bar.value = ""
                    }}
                if (menu_header.style.display == "block" && !menu_header.contains(e.target) && !seta_header.contains(e.target)){
                menu_header.style.display = "none";
                }   
            };

            seta_header.onclick = function(){
            menu_header.style.display = "block";
            };
    

        </script>

    </body>

    
    
</html>








