<style>
    .fotos_container {
    width: 1250px;
    margin: 20px auto;
    columns: 5;
    column-gap: 18px;
}

.box{
    width: 100%;
    margin-bottom: 30px;
    break-inside: avoid;
    position: relative;
}

/* .pasta_bar{
    position: absolute;
    top: 10px;
    width: 100%;
    align-items: center;
    display: none;
    z-index: 999;
}

.pasta_bar .botao_escolher_pasta {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.pasta_bar .botao_salvar {
    margin-left: auto;
    margin-right: 10px;
    background-color: var(--main-purple);
    border-radius: 20px;
    font-size: 15px;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.seta {
    filter: brightness(0) invert(1);
    margin-left: 6px;
    padding-top: 8px;
    cursor: pointer;
} */

.box a{ 
    cursor: pointer;
    overflow: hidden;
}

a > .foto {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.icone_perfil {
    object-fit: cover;
}

.usuario {
    display: flex;
    color: black;
    align-items: center;
}
.username {font-size: 15px;}
.usuario * {margin-left: 5px; margin-top: 5px;}

.foto_titulo {
    margin: 0px 10px;
    color: rgb(73, 73, 73);
    font-size: 15px;
    font-weight: 600;
}

/* .box .foto_box:hover > .pasta_bar{
    display: flex;
} */

.box .foto_box:hover > a{
    filter: brightness(55%);
}

</style>

<div class="fotos_container">
    {% for foto in fotos %}
    
    <div class="box">
        <div class="foto_box">
            <!-- <div class="pasta_bar">
                <form action="" method="post">
                    <button class="botao_escolher_pasta" name="escolher_pasta" >Meus pins <i class="fa-sharp fa-solid fa-angle-down fa-1x seta"></i></button>
                    <button class="botao_salvar" name="salvar" value="salvar">Salvar</button>
                </form>
            </div> -->
            <a href="{{ url_for('post', id_foto=foto.id) }}">
                <img class="foto" src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
            </a>
        </div>
        {% if foto.titulo %}
            <a href="{{ url_for('post', id_foto=foto.id) }}"><p class="foto_titulo">{{ foto.titulo }}</p></a>
        {% endif %}
        <a class="usuario" href="{{ url_for('perfil', username=foto.usuario.username) }}">
            {% if foto.usuario.foto_perfil != "vazio" %}
                <img class="icone_perfil" src="{{ url_for('static', filename='fotos_perfil/{}'.format(foto.usuario.foto_perfil)) }}"/>
            {% else %}
                <p class="icone_perfil"> {{ foto.usuario.username[0].upper() }}</p>
            {% endif %}
            <p class="username">{{foto.usuario.username}}</p>
        </a>
    </div>
    {% endfor %}
</div>

    
