<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/home.css") }}'>

<img class="logo_form logo" src="{{ url_for('static', filename='fotos_site/logo_pinterest.png') }}">

<h1 class="titulo_form">Bem vindo(a) ao Ponterest</h1>

<form class="form_login form" method="POST">

        
        {{ form_login.csrf_token }}

        <p class="label">{{ form_login.email.label()}}</p>
        {% if form_login.email.errors %}
                {{ form_login.email(class="box", placeholder="Email") }}
                {% for erro in form_login.email.errors %}
                        <p class="msg_erro">{{ erro }}</p>
                {% endfor %}
        {% else %}
                {{ form_login.email(class="box") }}
        {% endif %}

        <p class="label">{{ form_login.senha.label()}}</p>
        {{ form_login.senha(class="box", placeholder="Senha") }}
        {% if erro_senha %}
                <p class="msg_erro">{{ erro_senha }}</p>
        {% endif %}

        <!-- {{ form_login.senha.label()}}
        {% if form_login.senha.errors %}
                {{ form_login.senha() }}
                {% for erro in form_login.senha.errors %}
                        <p style="color: red">{{ erro }}</p>
                {% endfor %}
        {% else %}
                {{ form_login.senha() }}
        {% endif %} -->

    
        {{form_login.botao_confirmacao(class="botao")}}

</form>