<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/perfil.css") }}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% set mensagens = get_flashed_messages() %}
    <div class="janela_criar_pasta">
        <h2 class="titulo_criar_pasta">Criar pasta</h2>
        <p>Nome</p>
        <form  method="post">
            <div class="box_input">
                <input class="input_nome_pasta" type="text" name="nova_pasta" placeholder="Dê um nome para a pasta">
            </div>
            <input type="submit" value="Criar" class="botao_criar_pasta">
        </form>
    </div>

    <div class="janela_foto_perfil">
        <h2 class="titulo_editar_foto_perfil">Editar foto perfil</h2>
        <img class="imagem_foto" src="{{ url_for('static', filename='fotos_perfil/{}'.format(current_user.foto_perfil)) }}"/>

        <form action="#" method="post" class="mudar_foto" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <label class="label_inputfoto" for="input_foto"><p>Escolher imagem</p></label>
            {{ form.foto(class="input_foto", id="input_foto") }}
            <div class="coluna_botao">
                <buton class="botao_cancelar">cancelar</buton>
                {{ form.botao_confirmacao(class="botao_editar_foto_perfil2") }}
            </div>
            
        </form>
    </div>

    <!-- <div class="janela_edit_pasta">
        <h2 class="titulo_criar_pasta">Editar pasta</h2>
        <p>Nome</p>
        <form  method="post">
            <div class="box_input">
                <input class="input_nome_pasta" type="text" name="nova_pasta" placeholder="Dê um nome para a pasta">
            </div>
            <input type="submit" value="Salvar" class="botao_edit_pasta">
            <button class="botao_del_pasta" name="del_pasta" value="excluir">excluir</button>
        </form>
    </div> -->
    
    <div id="pagina" class="pagina">
        {% include 'header.html' %}
        <main>
            <div class="container_usuario">
                
                <div class="foto_perfil">
                    <div class="icone_perfil2">
                        {% if usuario.foto_perfil != "vazio" %}
                            <img  src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}"/>
                        {% else %}
                            <p > {{ usuario.username[0].upper() }}</p>
                        {% endif %}
                        {% if usuario == current_user%}
                            <i class="fa-solid fa-pen botao_editar_foto_perfil"></i>
                        {% endif %}
                    </div>
                </div>
                {% if mensagens %}
                {% for msg in mensagens %}
                <div class="erro">{{ msg }}</div>
                {% endfor %}
                {% endif %}
                <!-- <div class="icone_perfil2">
                    <p > {{ usuario.username[0].upper() }}</p>
                    {% if usuario == current_user%}
                        <i class="fa-solid fa-pen botao_editar_foto_perfil"></i>
                    {% endif %}
                    </div>
                </div> -->
                <p class="username">@{{ usuario.username }}</p>
                <!-- {% if usuario.id == current_user.id %}
                {% endif %} -->
        
        
        
            </div>
        
            <input type="radio" id="criados" name="container" class="input_botao_criados">
            <input type="radio" id="salvos" name="container" checked class="input_botao_salvos">
        
            <div class="botoes_container">
                <label class="botao_criados" for="criados"><p class="c">Criados</p></label>
                <label class="botao_salvos" for="salvos"><p class="s">Salvos</p></label>
            </div>
        
        
            <div class="container_criados" id="container_criados">
                {% for foto in usuario.fotos %}
                <div class="box">
                    <div class="foto_box">
                        <a href="{{ url_for('post', id_foto=foto.id) }}">
                            <img class="foto" src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
                        </a>
                    </div>
                    {% if foto.titulo %}
                        <a href="{{ url_for('post', id_foto=foto.id) }}"><p class="foto_titulo">{{ foto.titulo }}</p></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <div class="botao_plus_div">
                {% if usuario == current_user %}
                <p class="botao_plus">+</p>
                {% endif %}
            </div>
            <div class="container_pastas" id="container_salvos">
                <a href="{{ url_for('pasta', username=usuario.username, nome_pasta='salvos') }}">
                    <div class="box_pasta minhas fotos">
                        {% for foto in fotos_salvas[:3] %}
                            <div class="foto"><img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/></div>
                        {% endfor %}
                    </div>
                    <p class="titulo_pasta">Salvos</p>
                </a>
                {% for pasta in usuario.pastas %}
                    <a class="pasta_anchor" href="{{ url_for('pasta', username=usuario.username, nome_pasta=pasta.titulo) }}">
                        <div class="box_pasta">
                            {% for foto in pasta.fotos_salvas[:3] %}
                            <div class="foto"><img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.foto.imagem)) }}"/></div>
                            {% endfor %}
                        </div>
                        <p class="titulo_pasta">{{ pasta.titulo }}</p>
                        <div class="edit_button"><i class="fa-solid fa-pen"></i></div>
                    </a>
                {% endfor %}
            </div>
        </main>
    </div>
    
    
    <script type='text/javascript' src="{{ url_for('static', filename='js/perfil.js') }}">

    </script>
</body>
</html>





