<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foto</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/post.css") }}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body onload="init();">
    <div class="janela_criar_pasta">
        <h2 class="titulo_criar_pasta">Criar pasta</h2>
        <p>Nome</p>
        <form  method="post">
            <div class="box_input">
                <input class="input_nome_pasta" type="text" name="nova_pasta" placeholder="Dê um nome para a pasta">
            </div>
            <input type="submit" value="Criar" class="botao_criar_pasta2">
        </form>
    </div>

    {% include 'select_pasta.html' %}

    <div class="pagina">
        {% include 'header.html' %}
        
        <main>
            <div class="main"></div>
            <div class="container_foto">
                <img class="main_foto" src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
        
                <div class="sobre_foto">
                    <div class="pasta_bar">
                        {% if salvo %}
                            {% if salvo.pasta_salva %}
                                <a href="{{ url_for('pasta', username=dono_post.username, nome_pasta='salvo.pasta.titulo') }}">
                                    <p class="pasta_salva">{{ salvo.pasta.titulo }}</p>
                                </a>
                            {% else %}
                                <a href="{{ url_for('pasta', username=dono_post.username, nome_pasta='salvos') }}"><p class="pasta_salva">meus pins</p></a>
                            {% endif %}
                            <form method="post">
                                <button class="botao_salvo" name="excluir_pin">Salvo</button>
                            </form>
                        {% else%}
                            <button class="botao_escolher_pasta">Meus pins <i class="fa-sharp fa-solid fa-angle-down fa-1x seta"></i></button>
                            <form action="" method="post">
                                <button class="botao_salvar2" name="salvar" value="meus_pins">Salvar</button>
                            </form>
                        {% endif %}
                    </div>
                    <h1 class="titulo_foto_main">{{ foto.titulo }}</h1>
                    <p class="descricao" style="white-space: pre;">{{ foto.descricao }}</p>
                    <a class="usuario" href="{{ url_for('perfil', username=usuario.username) }}">
                        {% if dono_post.foto_perfil != "vazio" %}
                            <img class="icone_perfil" src="{{ url_for('static', filename='fotos_perfil/{}'.format(dono_post.foto_perfil)) }}"/>
                        {% else %}
                            <a class="icone_perfil" href="{{ url_for('perfil', username=usuario.username) }}"><p > {{ usuario.username[0].upper() }}</p></a>
                        {% endif %}
                        <p class="username">{{dono_post.username}}</p>
                    </a>
        
        
                </div>
        
            </div>
            
        
            <br>
        
            <div class="relacionados">
                <h2>Pin relacionados</h2>
        
                {% include 'fotos_container.html' %}
        
            </div>
        </main>
    </div>

    <script type='text/javascript' src="{{ url_for('static', filename='js/post.js') }}"></script>
    
</body>
</html>



