<style>
    :root {
        --main-gray: rgb(234, 234, 234);
    }   

    .janela_pasta {
        background-color: rgb(255, 255, 255);
        width: 360px;
        height: max-content;
        border-radius: 18px;
        font-size: 20px;
        font-weight: 500;
        overflow: hidden;
        box-shadow: 0px 1px 7px rgb(234, 234, 234);
    }

    .janela_pasta > p {
        margin: 20px auto;
        width: 40px;

    }
    
    form.escolher_pasta {
        height: 350px;
        overflow: scroll;
        overflow-x: hidden;
        margin-bottom: 0px;
    }

    .escolher_pasta {
        height: 400px;
        width: 100%;
    }

    .pasta {
        display: flex;
        margin: 10px 10px;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
    }

    .pasta * {margin: 10px;}

    .pasta:hover {background-color: var(--main-gray);}
    
    .pasta > img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        background-color: blue;
        border-radius: 10px;
    }

    .botao_salvar {
        border-radius: 30px;
        background-color: red;
        border: none;
        color: white;
        width: 70px;
        margin-left: auto;
        font-weight: 600;
        padding: 10px 10px;
        text-align: center;
        cursor: pointer;
        display: none;
    }
    

    .pasta:hover > .botao_salvar {display: block;}

    .input_salvar {display: none;}

    .criar_pasta {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        box-shadow: 0px 1px 7px rgb(234, 234, 234);
    }
    .criar_pasta *{
        margin: 10px;
    }

    .criar_pasta:hover {
        background-color: var(--main-gray);
    }

    .botao_criarpasta {
        font-size: 40px;
        border: none;
        border-radius: 10px;
        padding: 5px 16px;
    }
    
</style>



<div class="janela_pasta">

    <p>Pastas</p>

    <form class="escolher_pasta" method="get">

            <label for="pasta_1">
                <div class="pasta">
                    <img src="">
                        <p class="nome_pasta"> Pasta 1</p>
                        <button class="botao_salvar">Salvar</button>
                        <input class="input_salvar" type="submit" name="salvar" value="pasta1" id="pasta_1">
                </div>
            </label>
    
            
        
    </form>
    <div class="criar_pasta">
        <button class="botao_criarpasta">+</button>
        <p>Criar pasta</p>
    </div>
            
</div>
