<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        p {
            color: blue;
            font-size: 40px;
        }

        .container {
            display: block;
            background-color: gray;
            height: 40px;
            width: 40px;
        }

        .palavra {
            display: none;
        }

    </style>

    



    <div class="container">
        <p class="palavra"> oi</p>
    </div>
    
    <button>botao</button>

    <script>

    </script>
</body>
</html>