<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        
    </style>

    



    <form name="select1" action="" method="post">
        <select name="select2">
            <option>nenhum</p></option>
            <option value="1">item1</option>
            <option value="2">item2 </option>
            <option value="3">item3 </option>
            <option value="4">item4 </option>
        </select>

        <input type="text" name="texto">
        <input type="submit" value="enviar">
    </form>

    {{request.form }}



    

    <script>

    </script>
</body>
</html>