* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Isso ajuda a evitar problemas de dimensionamento */
}

header {
  display: flex;
  height: 12vh;
  background-color: white;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;;
  font-weight: 600;
}

.logo{
  flex: 20%;
  color: #cc0000;;
  font-size: 20px;
  letter-spacing: -1px;
  display: flex
}

.logo img {
  width: 55px;
  position: relative;
  left: 10px;
  bottom: 5px;

}

.login_cadastrar {
  flex:80%;
  text-align: right;
}

.login_cadastrar * {
  margin-right: 20px;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.botao_login {
  background-color: red;
  color: white;
  font-weight: 600;
}

.botao_cadastrar {
  background-color: rgb(212, 212, 212);
  color: black;
}



/* MAIN */

main {
  background-color: rgb(255, 71, 240);
  height: 88vh;
}

form {
  margin-top: 60px;
  text-align: left;
  margin-left: 60px;
}
.forms {
  position: absolute;
  top: 0px;
  left: 32.5%;
  height: 100%;
  width: 35%;
  border-radius: 45px;
  background-color: white;
  text-align: center;
}

.forms .form_cadastrar {
  position: absolute;
  height: 100%;
  width: 100%;

}

.forms {
  display:none
}

/* .form_login {
  width: 60%;
  height: 100%;
  background-color: white;
} */
